*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style predefinition started */

html, body{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}

:root{

    --background-color: #f1ff1f1

    /* Primary colors */
    --LightRed: hsl(0, 100%, 67%);
    --LightRed-100: hsla(0, 100%, 67%, .1);
    --OrangeYellow: hsl(39, 100%, 56%);
    --OrangeYellow-100: hsla(39, 100%, 56%, .1);
    --GreenTeal: hsl(166, 100%, 37%);
    --GreenTeal-100: hsla(166, 100%, 37%, .1);
    --CobaltBlue: hsl(234, 85%, 45%);
    --CobaltBlue-100: hsla(234, 85%, 45%, .1);

    /* Gradient Colors */
    --LightSlateBlue: hsl(252, 100%, 67%); /*Background*/
    --LightRoyalBlue: hsl(241, 81%, 54%); /*Background*/
    --VioletBlue: hsla(256, 72%, 46%, 1); /*Circle*/
    --PersianBlue: hsla(241, 72%, 46%, 0); /*Circle*/

    /* Neutral Colors */
    --White: hsl(0, 0%, 100%);
    -PaleBlue: hsl(221, 100%, 96%);
    --LightLavender: hsl(241, 100%, 89%);
    --DarkGrayBlue: hsl(224, 30%, 27%);
}

/* Style predefinition finished */



